.vscode
.DS_Store
node_modules

dist
dist-esm
dist-tests
_bundles

testnet/nohup.out
testnet/proxy/node_modules
testnet/.env

.idea
temp

testnet/credentials.ts

testnet/credentials_web.js

testnet/test.json
