.vscode
.DS_Store
node_modules
stats.json

builds/dist
builds/dist-esm
builds/dist-tests
builds/bundle
builds/tests
builds/examples

.idea
temp

testnet/nohup.out
testnet/proxy/node_modules

testnet/.env
testnet/credentials.ts
testnet/credentials_web.js
testnet/test.json

testnet/bin_local/credentials.ts

testnet/bin_local/credentials_web.js

testnet/credentials/credentials.ts

testnet/credentials/credentials_web.js
