.vscode
.DS_Store
node_modules

builds/dist
builds/dist-esm
builds/dist-tests
builds/bundle
builds/tests

.idea
temp

testnet/nohup.out
testnet/proxy/node_modules

testnet/.env
testnet/credentials.ts
testnet/credentials_web.js
testnet/test.json
